h1="Sign In"
form(method="post")
  table(border="1" cellpadding="10")
    tr
      td	  
    tr
      th="User name"
      td
        input(type="text", name="username")
    tr
      th="password"
      td
        input(type="text", name="password")
    tr
      th=" "
      td
        input(type="submit", Value="submit")
